[global_config]
  focus = mouse
  suppress_multiple_term_dialog = True
[keybindings]
  split_vert = <Primary><Shift>e
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[2terminals]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 0f9f81f0-fdb5-4c9b-b737-eba528bd91f1
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 583:246
      size = 1280, 768
      title = claeyje@opvmwstsx11:~/.config/terminator
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 381
      ratio = 0.499348958333
      type = VPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = 0f9f81f0-fdb5-4c9b-b737-eba528bd91f1
    [[[terminal3]]]
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = fd6aa99e-a2c2-4200-9db0-e563aa796dca
  [[4terminals]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 9e0cb3a3-e0b9-49c4-9e35-b9959b018c7c
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 212:166
      size = 1280, 768
      title = claeyje@opvmwstsx11:~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 637
      ratio = 0.499609375
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 381
      ratio = 0.499348958333
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 381
      ratio = 0.499348958333
      type = VPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = 9e0cb3a3-e0b9-49c4-9e35-b9959b018c7c
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = bfb6cb15-8289-4836-a15f-5146a0473e55
    [[[terminal6]]]
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = e48f0da4-2aa5-4202-8522-7a6c8ac45dbb
    [[[terminal7]]]
      command = ""
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 3ae22b50-5adc-4ba2-92ac-67b04d9fc9c1
  [[New Layout]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 426:39
      size = 1464, 936
      title = /bin/bash
      type = Window
    [[[child1]]]
      active_page = 2
      labels = None, None, None
      last_active_term = 416e45b7-9e1e-4af3-adaf-ce9abf4ac3c7, b62328a0-8842-4968-be1a-e18a6cfa5dd0, ca3de178-8214-4b58-946d-71c76c7d668d
      order = 0
      parent = child0
      type = Notebook
    [[[child2]]]
      order = 0
      parent = child1
      position = 443
      ratio = 0.496119733925
      type = VPaned
    [[[child3]]]
      order = 0
      parent = child2
      position = 727
      ratio = 0.499658469945
      type = HPaned
    [[[child6]]]
      order = 1
      parent = child2
      position = 727
      ratio = 0.499658469945
      type = HPaned
    [[[terminal10]]]
      order = 2
      parent = child1
      profile = default
      type = Terminal
      uuid = ca3de178-8214-4b58-946d-71c76c7d668d
    [[[terminal4]]]
      order = 0
      parent = child3
      profile = default
      type = Terminal
      uuid = 7628fa19-13ac-4abe-bda4-5f27223bbabb
    [[[terminal5]]]
      order = 1
      parent = child3
      profile = default
      type = Terminal
      uuid = 416e45b7-9e1e-4af3-adaf-ce9abf4ac3c7
    [[[terminal7]]]
      order = 0
      parent = child6
      profile = default
      type = Terminal
      uuid = eeb51624-f6e9-40f5-bf55-4c602e88cfab
    [[[terminal8]]]
      order = 1
      parent = child6
      profile = default
      type = Terminal
      uuid = 49d0d4ce-e3d7-498d-ba21-d4c54fa81ec3
    [[[terminal9]]]
      order = 1
      parent = child1
      profile = default
      type = Terminal
      uuid = b62328a0-8842-4968-be1a-e18a6cfa5dd0
  [[alogens]]
    [[[child0]]]
      fullscreen = False
      last_active_term = a7764155-d003-4d86-97f0-8b29fd6b9d17
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:28
      size = 1920, 981
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 955
      ratio = 0.499739583333
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      command = ssh fluorine
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = a7764155-d003-4d86-97f0-8b29fd6b9d17
    [[[terminal4]]]
      command = ssh bromine
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 965ac8d9-e6eb-4c0d-95f9-7ffe276e05a6
    [[[terminal6]]]
      command = ssh iodine
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = c208963c-cc03-44cd-8c0c-87baad128863
    [[[terminal7]]]
      command = ssh chlorine
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 5329cce1-bfb1-43fe-b071-76c99901a509
  [[metals]]
    [[[child0]]]
      fullscreen = False
      last_active_term = a7764155-d003-4d86-97f0-8b29fd6b9d17
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:28
      size = 1920, 981
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 955
      ratio = 0.499739583333
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      command = ssh titanium
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = a7764155-d003-4d86-97f0-8b29fd6b9d17
    [[[terminal4]]]
      command = ssh chromium
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 965ac8d9-e6eb-4c0d-95f9-7ffe276e05a6
    [[[terminal6]]]
      command = ssh vanadium
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = c208963c-cc03-44cd-8c0c-87baad128863
    [[[terminal7]]]
      command = ssh palladium
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 5329cce1-bfb1-43fe-b071-76c99901a509
  [[noblegases]]
    [[[child0]]]
      fullscreen = False
      last_active_term = a7764155-d003-4d86-97f0-8b29fd6b9d17
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:28
      size = 1920, 981
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 955
      ratio = 0.499739583333
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      command = ssh argon
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = a7764155-d003-4d86-97f0-8b29fd6b9d17
    [[[terminal4]]]
      command = ssh xenon
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 965ac8d9-e6eb-4c0d-95f9-7ffe276e05a6
    [[[terminal6]]]
      command = ssh neon
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = c208963c-cc03-44cd-8c0c-87baad128863
    [[[terminal7]]]
      command = ssh krypton
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 5329cce1-bfb1-43fe-b071-76c99901a509
  [[tng]]
    [[[child0]]]
      fullscreen = False
      last_active_term = a7764155-d003-4d86-97f0-8b29fd6b9d17
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:28
      size = 1920, 981
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 955
      ratio = 0.499739583333
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      command = ssh laforge
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = a7764155-d003-4d86-97f0-8b29fd6b9d17
    [[[terminal4]]]
      command = ssh worf
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 965ac8d9-e6eb-4c0d-95f9-7ffe276e05a6
    [[[terminal6]]]
      command = ssh picard
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = c208963c-cc03-44cd-8c0c-87baad128863
    [[[terminal7]]]
      command = ssh riker
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 5329cce1-bfb1-43fe-b071-76c99901a509
  [[voyager]]
    [[[child0]]]
      fullscreen = False
      last_active_term = a7764155-d003-4d86-97f0-8b29fd6b9d17
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:28
      size = 1920, 981
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 955
      ratio = 0.499739583333
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 486
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      command = ssh chakotay
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = a7764155-d003-4d86-97f0-8b29fd6b9d17
    [[[terminal4]]]
      command = ssh tuvok
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 965ac8d9-e6eb-4c0d-95f9-7ffe276e05a6
    [[[terminal6]]]
      command = ssh janeway
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = c208963c-cc03-44cd-8c0c-87baad128863
    [[[terminal7]]]
      command = ssh torres
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 5329cce1-bfb1-43fe-b071-76c99901a509
[plugins]
[profiles]
  [[default]]
    background_color = "#004080"
    background_image = None
    copy_on_selection = True
    cursor_color = "#00ff18"
    font = Monospace 10
    foreground_color = "#ffffff"
    scrollback_infinite = True
    use_system_font = False
  [[Blackonwhite]]
    background_color = "#ffffff"
    background_image = None
    foreground_color = "#000000"
  [[New Profile]]
    background_image = None
  [[Whiteonblack]]
    background_image = None
    foreground_color = "#ffffff"
